<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swapnil Rajgadkar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>
    <div class=".bg-secondary.bg-gradient p-2 text-black">
      <h1>SWAPNIL RAJGADKAR WEBSITE</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
  </body>
<body>
    <div class="section-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <form action="/submit_form" method="post" class="reveal-content">
                      <div class="row">
                        <div class="col-md-7">
                          <p>&nbsp;</p>
                          <p style="font-weight: bold">Thank you for visiting my website.<br>
                            Please don't hesitate to reach out if you have any questions or would like to discuss potential opportunities.
                          </p>
                        <div class="col-md-5 address-container">
                          <ul class="list-unstyled">
                            <p>&nbsp;</p>
                            <li>
                              <span class="fa-icon">
                                <i class="fa fa-phone" aria-hidden="true"> + 91 8668891958</i>
                              </span>
                            </li>
                            <li>
                              <span class="fa-icon">
                                <i class="fa fa-at" aria-hidden="true">swapnilrajgadkarwani@gmail.com</i>
                              </span>
                            </li>
                            <li>
                              <span class="fa-icon">
                                <i class="fa fa fa-map-marker" aria-hidden="true"> Wani 445304, Maharashtra</i>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>